:root,
.light {
    --bg: #D9D9D9;
    --text: #000;
    --text-hover: #454545;
    --subtext: #6B6B6B;

    --text-blue: #0015FF;
    --text-red: #8E1919;

    --btn-bg: #242424;
    --btn-blue-bg: #0B006B;
    --btn-red-bg: #8E1919;
    --btn-hover-bg: #434343;
    --btn-blue-hover-bg: #0e009f;
    --btn-red-hover-bg: #af1f1f;
    --btn-outlined-hover-bg: #b6b6b6;
    --btn-text: #fff;

    --border: #A7A7A7;

    --ipt-bg: #CECECE;

    --tag-bg: #BEBEBE;

    --bar-green: #16B156;
    --bar-yellow: #B7BD19;
    --bar-red: #CC1518;
    --bar-grey: #5a5a5a;
}
